* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 1.5;
}
body {
    display: grid;
    grid-template-rows: 0.7fr 5fr;
    background-color: #f3d9e5;
}
header {
    padding: 1rem;
}
nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
section {
    block-size: 100%;
}
button {
    padding: 1rem;
    background-color: #f3d9e5;
}
button:hover {
    background-color: #f7b9c4;
}
button:focus {
    background-color: #f3d9e5;
}
button:active {
    background-color: #DE638A;
    color: white;
}
.tabContainer {
    background-color: #C6BADE;
    margin: 0.5rem 3.5rem 0rem 3.5rem;
}